.App {
  color: beige;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  color: maroon;
  height: 4em;
}
#wineForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: inline; 
  margin-right: 10px;
}

.infoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 5px;
  width: 60vw;
}

.formDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formField {
  padding: 4px;
  width: 40%;
}

.formSelect {
  padding: 2px;
  width: 25%;
  text-align: center;
}

.filterBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filterField {
  margin: 5px 5px;
  padding: 2px;
  width: 1.25in;
}

.filterSelect {
  margin: 5px 5px;
  padding: 2px;
  width: 1in;
}