.App {
  color: beige;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F7E7CE;
  color: #722F37;
  height: 4em;
}

button {
  margin: 5px;
}

.editBtn, .deleteBtn, .backBtn {
  padding: 2px;
  width: 1in;
  background-color: #722F37;
  border-top: 2px solid #823F47;
  border-right: 2px solid #621F27;
  border-bottom: 2px solid #621F27;
  border-left: 2px solid #823F47;
  border-radius: 4px;
  color:#F7E7CE
}

.editBtn:hover, .deleteBtn:hover {
  border-bottom: 2px solid #823F47;
  border-left: 2px solid #621F27;
  border-top: 2px solid #621F27;
  border-right: 2px solid #823F47;
  border-radius: 4px;
  font-style: italic;
}

#wineForm, #mealForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonHolder {
  display: flex;
  justify-content: space-around;
}

label {
  display: inline; 
  margin-right: 10px;
  width: 40%;
}

.wineCard {
  border: 2px solid black;
}

.wineDetails {
  border: 2px solid black;
}

.infoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 5px;
  width: 60vw;
  max-width: 400px;
  border: 2px solid black;
  border-radius: 10px;
}

.formDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.formField {
  padding: 4px;
  width: 60%;
}

.formSelect {
  padding: 2px;
  width: 25%;
  text-align: center;
}

.filterBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filterField {
  margin: 5px 5px;
  padding: 2px;
  width: 1.25in;
}

.filterSelect {
  margin: 5px 5px;
  padding: 2px;
  width: 1in;
}