body {
  background-color: #F7E7CE;
}

a {
  padding: 0 10px;
  color: #F7E7CE;
}
a:hover {
  font-style: italic;
}

#siteBannerImg {
  object-fit: cover;
  object-position: 50% 55%;
  max-height: 350px;
  width: 100%;
}

.About {
  max-width: 90vw;
  margin: 0 auto;
}