body {
  background-color: #F7E7CE;
}

a {
  padding: 0 10px;
  color: #F7E7CE;
}
a:hover {
  font-weight: bold;
}

#siteBannerImg {
  object-fit: cover;
  object-position: 50% 55%;
  max-height: 350px;
  width: 100%;
}